div {
  width: 300px;
  height: 300px;
  background: linear-gradient(135deg,
    rgba(179,220,237,1) 0%,
    rgba(41,184,229,1) 51%,
    rgba(188,224,238,1) 100%);
    text-align: center;
}
.div2 {
  width: 50%;
  height: 50%;
  background: grey;
  font-size: 1.5em;
}
html {
  font-size: 30px;
}

/*rem odnosi się do elementu html, em - do elementu-rodzica, px - jest wartością niezależną*/

/* zadanie 2 - zmienił się rozmiar elementu div oraz jego dzieciaka - div2*/
