.one {
    width:200px;
    height:200px;
    border:1px solid red;
    margin-top:20px;
    padding:10px;
}
.two {
    margin-top:20px;
    width:350px;
    height:150px;
    border:1px solid red;
    padding:10px;
}


p {
    margin-top:20px;
}
