* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Bungee Inline', cursive;
}
header {
  width: 100%;
  height: 700px;
  background-image: url("../images/concert.jpg");
  background-size: cover;
  background-position: center;
}
.head {
  text-align: center;
  line-height: 700px;
  font-weight: 700;
  font-size: 50px;
  color: #FFFFFF;
}
section {
  width: 100%;
  height: 350px;
  background-color: #FFFFFF;
}
.container {
  width: 800px;
  margin: auto;
  padding-top: 70px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
footer {
  width: 100%;
  height: 200px;
  background-color: #000000;
}
.footer {
  line-height: 200px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  width: 800px;
  margin: auto;
  text-align: right;
}
