.a {
  font-size: 20px; !important
}
.b {
  font-size: 10px;
}

.z2 {
  background-color: yellow;
}

#div {
  background-color: red;
}
div {
  background-color: blue;
}
.z3 {
  background-color: green;
}
